.blog_template {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 700px;

  padding-top: 70px;
}

.tags_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 20%;
  margin: 0 auto;

  position: fixed;
}

.tags_container div {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0 auto;

  width: 35%;
}

.tags_container h3 {
  margin-bottom: 0;
}

.tags_container hr {
  width: 100px;
  margin-left: 0;
  border-top: 0.5px solid gray;
}

.tag_button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding-left: 0;
  font-size: medium;
  margin: 3px 0;
}

.tag_button:hover {
  cursor: pointer;
  text-decoration: underline;
  color: darkslateblue;
}

.posts_container {
  width: 60%;
  margin: 0 auto;
  padding-left: 150px;
}
