.home_template {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 700px;
}

.book_left_shadow {
  width: 40px;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
}

.book_contents {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 100%;
  margin: 30px;

  border-width: 5px;
  border-color: white;
  border-style: solid;
}

.book_contents_right {
  display: flex;
  flex-direction: column;

  flex: 1;
  outline: auto;
  outline-color: white;
  background-color: white;
}

.book_expression_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: center;
}

.book_expression {
  width: 50px;
  height: fit-content;

  margin: 30px 0 0 0;

  border-left-width: 1px;
  border-left-color: black;
  border-left-style: solid;
}

.book_expression p {
  margin: 0;
  font-weight: 550;
}

.book_contents_left {
  flex: 1;
  color: white;
  font-family: "Times New Roman", Times, serif;
  margin-left: 1.5rem;
}
