.about_template {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 80%;
  height: fit-content;
  margin: 100px auto;
  font-family: "Times New Roman", Times, serif;
}

.about_template hr {
  width: 50%;
  border-top: 1px solid lightgray;
}

.about_code_record {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  margin-bottom: 50px;
}

.about_code_record img {
  margin-top: 30px;
  width: 80%;
}

.about_tech_layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  height: fit-content;
  margin-top: 20px;
  margin-bottom: 40px;
}

.about_tech_layout div {
  flex-wrap: wrap;
}

.about_tech_container {
  flex-wrap: wrap;
  margin-top: 30px;
}

.about_tech_container div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about_tech_name {
  color: tomato;
}

.logos_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: fit-content;
}

.about_test_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;
  margin: 40px auto;
}

.about_test_container {
  flex: 1;

  display: flex;
  flex-direction: row;

  width: 100%;
}

.about_test_container div {
  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  margin: 20px auto;

  border-color: lightgray;
  border-width: 1px;
  border-right-style: solid;
}

.about_test_container div:hover {
  cursor: pointer;
  background-color: cornflowerblue;
  color: white;
  font-weight: bold;
}

#mind_test {
  border: none;
}

.about_test_container div img {
  width: 100px;
  height: 100px;
}

.about_test_container div p {
  font-family: initial;
  font-weight: bold;
}

.about_test_modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  display: none;
  overflow: auto;
}

.about_test_modal img {
  margin: 0 auto;
  width: 50%;
  height: auto;
}

.about_test_title {
  display: flex;
  flex-direction: row;
}
