.new_posts_template {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  margin: 150px auto;
}

.new_posts_input {
  flex: 1;
  height: 100%;
  border-right: 1px solid black;
}

.posts_title,
.posts_tags {
  width: 92.5%;
  height: 1.2rem;
  padding: 10px;
  font-size: large;
  font-family: emoji;
}

.posts_textarea {
  width: 90%;
  height: 50%;
  padding: 20px;
  font-size: large;
  font-family: emoji;
}

.new_posts_input button {
  width: 80px;
  height: 60px;
  margin-top: 0 1rem;
}

.posts_preview {
  flex: 1;

  padding: 20px;
  font-size: large;
}
