.posts_detail_template {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: fit-content;

  word-break: break-all;
  padding-top: 70px;
}

.markdown_contents_container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 20%;
  margin: 0 auto;

  position: fixed;
}

.markdown_contents {
  display: flex;
  flex-direction: column;
  align-items: baseline;

  margin: auto 0 auto auto;
  width: 250px;
}

.posts_detail_container {
  width: 60%;
  margin: 0 auto;
  padding-left: 150px;
}

.posts_detail_title {
  flex: 0.3;
  margin: 0 30px;
}

.posts_detail_title p {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.posts_detail_info {
  flex: 0.2;
  margin: 30px;
  margin-bottom: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.posts_detail_info_time div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.posts_detail_info_time div button {
  width: 50px;
  height: 30px;
  margin: 5px;
  margin-right: 0;

  font-weight: bold;
  color: white;

  background-color: slateblue;
  border-radius: 10px;
  border: none;
  outline: none;
}

.posts_detail_content {
  flex: 2;
  margin: 30px 30px;
  word-break: break-all;
  font: 1.2em caption;
  line-height: 1.7;
}

.posts_detail_content blockquote {
  background-color: whitesmoke;
  margin: 0;
  padding: 1rem;
  border-left: 5px solid lightcoral;
}

.posts_detail_content pre {
  font-size: 0.9rem;
  font-family: inherit;
  line-height: inherit;

  word-break: keep-all;
  overflow-wrap: break-word;
  overflow-x: auto;
}

.posts_detail_content table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: keep-all;
  border-spacing: 0;
}

.posts_detail_content table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.posts_detail_content table th,
.posts_detail_content table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

.posts_detail_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  position: fixed;
  right: 1%;

  width: fit-content;
  height: 70vh;
}

.posts_detail_nav div {
  display: flex;
  flex-direction: column;
}

.posts_detail_nav_button:hover {
  cursor: pointer;
}
