.project {
  height: 100vh;
  margin: auto;

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.project ul {
  position: relative;
  list-style: none;

  top: 45%;
  left: 42.3%;
  color: white;
}

.active {
  position: absolute;
  transition: 1.5s all;
}

.cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wheel_intro {
  margin-left: 3rem;
}
