.header {
  display: flex;
  flex-direction: row;

  text-align: center;

  top: 0;
  left: 25%;
  width: 50%;
  height: 200px;
  margin: 0 auto;
  align-items: center;

  position: fixed;
}

.header_button_layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: auto;
  margin-right: 0;
}

.header_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 35px;

  border: none;
  background-color: rgba(0, 0, 0, 0);

  font-size: 1.2rem;
  font-weight: bold;
}

.header_button:hover {
  cursor: pointer;
  text-decoration: underline;
  color: darkblue;
}
