.markdown_nav {
  display: flex;
  flex-direction: column;

  position: relative;
  top: 3rem;
  left: 1rem;
}

.markdown_nav_title,
.markdown_nav_item {
  width: 70%;
  margin: 0 auto;
  padding: 1px 3px 5px 0;
  font-size: 12px;
  font-weight: 400;
  color: gray;
  box-sizing: border-box;

  overflow: hidden;
  white-space: nowrap;
}

.markdown_nav_title {
  font-size: 14px;
  padding-left: 5px;
}

.markdown_nav_title:hover,
.markdown_nav_item:hover {
  border-left: 1px black solid;
  font-weight: bold;
  cursor: pointer;
}
