.posts_list_box {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 95%;
  height: fit-content;

  margin: 15px auto;

  border-bottom: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;

  word-break: break-all;
}

.posts_list_box:hover {
  cursor: pointer;
}

.posts_list_box h2 {
  flex: 1;
  margin-bottom: 0;
  margin-top: 0;
}

.posts_summary {
  flex: 3;
}

.posts_list_box div {
  flex: 0.5;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  width: max-content;
}

.posts_list_box div span {
  margin-right: 10px;
}

.posts_updated_time {
  flex: 0.5;
  color: gray;
  font-weight: lighter;
}
